
<script src="~/js/login.js" asp-append-version="true" defer></script>
<link rel="stylesheet" href="~/css/login1.css" asp-append-version="true" />

<h1 id="h1p">Você é um:</h1>
<div id="a1">
		<a id="btn1" asp-area="" asp-controller="Login" asp-action="LoginColaborador">
			Colaborador
		</a>
	<a id="btn2" asp-area="" asp-controller="Login" asp-action="LoginRecebedor">
            Receptor
    </a>
    <a id="btn3" ">
            Administrador
    </a>
</div>
<div class="btn-group-vertical" role="group" aria-label="Vertical button group" style="padding: 20px; row-gap:10px;">
    <a class="btn" style="background-color: whitesmoke; border: 5px solid rgb(0, 0, 0);border-radius: 30px;text-decoration: none; padding: 30px; font-size: 45px;  color: black;">
        Colaborador
    </a>>
    <button type="button" class="btn btn-primary" style="background-color: whitesmoke; border: 5px solid rgb(0, 0, 0);border-radius: 30px;text-decoration: none; padding: 30px; font-size: 45px;  color: black;">
        Recebedor
    </button>
    <button type="button" class="btn btn-primary" style="background-color: whitesmoke; border: 5px solid rgb(0, 0, 0);border-radius: 30px;text-decoration: none; padding: 30px; font-size: 45px; color: black;">
        Administrador
    </button>
</div>
<br>
<br>
